@model NhomBoy_Hotel.Phong

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThemPhong</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .container {
            max-width: 400px;
            margin: 20px auto;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .column {
            width: calc(50% - 10px);
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            margin-bottom: 20px;
        }

        h4 {
            color: #333;
            text-align: center;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        input[type="file"],
        select {
            width: 900px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            width: 200px;
        }

        input[type="number" i] {
            padding-block: 1px;
            padding-inline: 2px;
            height: 30px;
            width: 900px;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }

        .back-link {
            margin-top: 20px;
            text-align: right;
        }

            .back-link a {
                color: #007bff;
                text-decoration: none;
            }

                .back-link a:hover {
                    text-decoration: underline;
                }

        #image-preview {
            width: 100px;
            height: 100px;
            margin-left: 300px;
            margin-top: 20px;
        }
    </style>
    <script>
        function previewImage(event) {
            const input = event.target;
            const preview = document.getElementById('image-preview');

            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                }

                reader.readAsDataURL(input.files[0]);
            } else {
                preview.style.display = 'none';
            }
        }
    </script>
</head>
<body>
    @using (Html.BeginForm("ThemPhong", "NhanVien", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>THÊM MỚI PHÒNG</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>Số phòng</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoPhong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoPhong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Loại Phòng</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LoaiPhong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LoaiPhong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Giá mỗi đêm</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GiaMoiDem, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GiaMoiDem, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Sức chứa</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SucChua, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SucChua, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Mô tả</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Hình Ảnh</label>
                <div class="col-md-10">
                    <input type="file" name="HinhAnh" class="form-control" accept="image/*" onchange="previewImage(event)" />
                    @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
                    <img id="image-preview" src="#" alt="Hình Ảnh" style="display:none; width:100px; height:100px;" />
                </div>
            </div>
            <div class="form-group">
                <label>Số sao</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoSao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoSao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Trạng Thái</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TrangThai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Thêm mới" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Trở lại", "QuanLyPhong")
    </div>
</body>
</html>
